<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div>
        <h5>Dear customer</h5>
        <p>OTP to verify your email Address : {{otp}}</p>
        {{request_date}}
      </div>
    </div>
  </body>
</html>